body {
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  background-color: #104d4e;
}

.navbar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.submarine-geolab {
  padding: 1rem 1.5rem;
  text-align: center;
}

.img-fluid {
  margin-top: 0;
  margin-bottom: 1rem;
}

#myNavbar {
  font-family: "BPG Nino Mtavruli", sans-serif;
}

footer{
  text-align: center;
  color: #e9ecef;
}
